@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary: #000;
  --secondary: rgb(24 24 27);
}
.light {
  --primary: #fff;
}

bo

html {
  /* max-width: 2000px; */
  margin: 0;
  padding: 0;
}

